<h2>お気に入り一覧</h2>
<% @favorites.each do |favorite| %>
<ul>
  <li><%= image_tag(favorite.picture.image.url) if favorite.picture.image && favorite.picture.image.url %></li>
  <li>ユーザー: <%= favorite.picture.user.name %></li>
  <li>内容: <%= favorite.picture.content %></li>
  </ul>
<% end %>
