// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index_list {
  border-top: solid #1e366a 1px;
  border-bottom: solid #1e366a 1px;
  padding: 0.5em 0 0.5em 1.5em;
}

.index_list li{
  line-height: 1.5;
  padding: 0.5em 0;
}

.new_b {
  margin-bottom: 5px;
}

.form_b {
  margin-top: 5px;
}
